:root {
	--color-1-tipo: purple;
	--color-2-tipo: white;
	--color-3-tipo: green;
}

.container{
	background-color:var(--color-3-tipo) ;
	width: 100% ; 
	height: 98vh;
	overflow: hidden;
	vertical-align: center;
	text-align: center;  
}
.cardInfo{
	background-color: var(--color-2-tipo); 
	width: 90%; 
	margin: auto; 
	font-size: 1em; 
}

.cardPersonal{
	margin: auto; 
	background-color: var(--color-1-tipo); 
	margin-top: 15%;
	width: 20%; 
	height: 12vh;
	overflow: hidden; 
	border-radius: 25px 25px;
	transition: width 2s,height: 2s; 
}
.cardImagen img{
	width: 20%; 
	height: 20%;
	border-radius: 25px 25px;
}